
@font-face {
	font-family: 'Poppins';
	font-weight: 400;
	src: url('../fonts/Poppins-Regular.woff') format('woff');
}


@font-face {
    font-family: "Poppins-medium";
    src: url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins-semi-bold";
    src: url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins-bold";
    src: url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Urbanist-bold";
    src: url('../fonts/Urbanist-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM-sans-medium";
    src:  url('../fonts/DMSans-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-bold";
    src: url('../fonts/Montserrat-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}




html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #12111d;
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;

}

:focus-visible {
    outline: none;
}

p {
    margin: 0;

}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1296px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.burger-menu {
    display: none;
}

.header {
    padding-bottom: 75px;
}

.header__logo {
    width: 150px;
    position: absolute;
    top: 20px;
}

.hero {
    padding-top: 75px;
    padding-bottom: 80px;
}

.header__nav {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.header__item {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #BCBCBC;
    cursor: pointer;
}

.header__item_active {
    color: #FFFFFF;
    border-bottom: 1.5px solid #FFFFFF;;
}

.header__item:not(:last-child) {
    margin-right: 20px;
}

.hero__container {
    display: flex;
    justify-content: space-between;
}

.hero__text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.hero__title {
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 107%;
    color: #FFFFFF;
    margin-bottom: 83px;
}

.hero__descr {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #E2E2E2;
    margin-bottom: 30px;
    max-width: 504px;
}

.hero__btn {
    padding: 12px;
    background: linear-gradient(133.57deg, #9685FF -7.96%, #2F256D 118.18%), linear-gradient(0deg, #5033FF, #5033FF), linear-gradient(103.91deg, #9B51E0 21.01%, rgba(48, 129, 237, 0.8) 100%);
    border-radius: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.hero__img {
    padding: 19px;
    border: 15px solid #9685FF;
    border-radius: 35px;
}

.hero__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero__background-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
    text-align: center;
    color: #FFFFFF;
}

.directions {
    padding-top: 80px;
    padding-bottom: 40px;
    position: relative;
}

.directions__title {
    margin-bottom: 80px;
}

.directions__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 126px;
}

.directions__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
}

.directions__img {
    margin-bottom: 24px;
    max-width: 100px;    
}

.directions__list-title {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.directions__descr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.directions__sub-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.directions__text_margin {
    margin-bottom: 90px;
}

.directions__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #C2C3C5;
    max-width: 516px;
}

.directions__number {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #FFFFFF;
}

.directions__texts {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.directions__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 116px;
}

.directions__footer-item {
    padding: 20px 25px;
    border: 10px solid #6248FF;
    border-radius: 10px;
}

.directions__bg {
    position: absolute;
    right: 0;
    top: 350px;
}

.directions__bag {
    position: absolute;
    top: 550px;
    right: 190px;
}

.how-it-looks {
    padding-top: 40px;
    position: relative;
}

.how-it-looks__title {
    margin-bottom: 80px;
}

.swiper, .swiper-container {
    margin-bottom: 190px;
    position: relative;
}

.swiper-button-next:after, .swiper-button-prev:after {
    background-image: url(../img/left.svg);
    width: 40px;
    height: 40px;
    content: "";
    position: absolute;
}

.swiper-button-next:after {
    transform: rotate(180deg);
}

.swiper-slide {
    width: 33%;
    overflow: hidden;
}

.swiper-slide {
    width: 330px;
    height: 330px;
    border: 20px solid #6248FF;
    border-radius: 35px;
}

.swiper-slide .swiper-slide-active {
    transition: all .3s ease-in-out;
    opacity: 1;
    background-color: unset;
}

.swiper-slide img {
    opacity: 0.6;
}


.swiper-slide-active img {
    opacity: 1;
}

.swiper-slide-active {
    width: 500px;
    height: 500px;
}


.swiper-slide .how-it-looks__img {
    background-color: #000000;
    border-radius: 55px;
}

.swiper-slide-active img {
    background-color: unset;
    transition: all .3s ease-in-out;

}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide-active .how-it-looks__img {

}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    top: 107%;
    left: 40%;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    top: 107%;
    right: 40%;
}




.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: 105%;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
    opacity: unset;
}

.swiper-pagination-bullet .swiper-pagination-bullet-active {
    background-color: #9B5FFF;
}

.swiper-pagination-bullet-active {
    background-color: #9B5FFF;
}

.capsule {
    padding-top: 40px;
    padding-bottom: 40px;
}

.capsule__title {
    text-align: left;
    margin-bottom: 40px;
}

.capsule__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.capsule__item {
    padding: 20px 0 20px 20px;
    border: 5px solid #6248FF;
    border-radius: 10px;
    max-width: 396px;
}

.capsule__text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 115%;
    color: #FFFFFF;
    max-width: 342px;
}

.rate {
    padding-top: 40px;
    padding-bottom: 60px;
}

.rate__title {
    text-align: left;
    margin-bottom: 80px;
}

.rate__list {
    display: flex;
    justify-content: space-between;
}

.rate__item {
  
    width: calc(33% - 15px);
    display: flex;
 
}

.rate__block {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 30px;
    background: linear-gradient(133.57deg, #9685FF -7.96%, #2F256D 118.18%);
    border-radius: 35px;
    margin-bottom: 50px;
    height: auto;
    flex-grow: 1;
    min-height: 628px;
}

.rate__block_bg {
    background: linear-gradient(133.57deg, #C06BDE -7.96%, #5F318A 108.33%);
}

.rate__line {
    bottom: 15%;
    border-top: 1px solid #fff;
    opacity: 0.65;
    width: 85%;
    position: absolute;
}

.rate__name {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 7px;
}

.rate__price {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.rate__price-month {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 50%;
}

.rate__points {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.85);
    display: flex;
    margin-bottom: 15px;
}



.rate__points img {
    margin-right: 11px;
}


.rate__button {
    padding: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-top: auto;
}

.rate__item-sale {
    width: 100%;
    background: linear-gradient(133.57deg, #9685FF -7.96%, #2F256D 118.18%);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
    width: calc(33% - 15px);
}

.rate__item-sale img {
    width: 41px;
    position: absolute;
    right: 6%;
    top: 43px;
}

.rate__item-sale-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
}

.rate__item-sale-dur {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}

.rate__sales {
    display: flex;
    justify-content: space-between;
}

.footer {
    padding-top: 60px;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    padding-top: 125px;
    padding-bottom: 227px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    justify-content: right;
    margin-bottom: 36px;
}

.footer__nav div {
    display: flex;
    flex-direction: column;
}

.footer__nav > div {
    margin-right: 41px;
}

.footer__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28.6381px;
    line-height: 140.9%;
    color: #FFFFFF;
}

.footer__link img {
    margin-right: 10px;
}

.footer__link_bold {
    font-weight: 500;
}

.footer__icon {
    cursor: pointer;
}

.footer__icon:not(:last-child) {
    margin-right: 24px;
}

